In [24]:
#DataFrame tips.csv
#DataFrame содержит информацию о чаевых:tip,sex,smoker,day,time,size

#Описание столбцов:
#total_bill:

 #общий чек,целочисленный

#tip:

#чаевые, целочисленный

#sex:

#пол,категоральный

#smoker:

#курильщик,категоральный

#day:
#название дня,текстовый

#time:

#время дня,текстовый
#size:

#размер, целочисленный


import pandas as pd

df = pd.read_csv('tips.csv')
print(df)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
import pandas as pd

df = pd.read_csv('tips.csv')
print(df.head(5))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
import pandas as pd

df = pd.read_csv('tips.csv')
print(df.tail(5))

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [5]:
import pandas as pd

df = pd.read_csv('tips.csv')

print(df.describe())

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
import pandas as pd


df = pd.read_csv('tips.csv')


value = df.loc[3, 'tip']


print(value)

3.31

In [7]:
import pandas as pd

df = pd.read_csv('tips.csv')

filtered_df = df.loc[2:7]

print(filtered_df)

   total_bill   tip     sex smoker  day    time  size
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4

In [10]:
import pandas as pd


df = pd.read_csv('tips.csv')


sorted_data = df.sort_values('sex', ascending=False)


filtered_data = sorted_data.head(15)

filtered_data.to_csv('filtered_tips.csv', index=False)

print(filtered_data)

     total_bill   tip   sex smoker   day    time  size
122       14.26  2.50  Male     No  Thur   Lunch     2
199       13.51  2.00  Male    Yes  Thur   Lunch     2
212       48.33  9.00  Male     No   Sat  Dinner     4
110       14.00  3.00  Male     No   Sat  Dinner     2
211       25.89  5.16  Male    Yes   Sat  Dinner     4
112       38.07  4.00  Male     No   Sun  Dinner     3
113       23.95  2.55  Male     No   Sun  Dinner     2
210       30.06  2.00  Male    Yes   Sat  Dinner     3
116       29.93  5.07  Male     No   Sun  Dinner     4
208       24.27  2.03  Male    Yes   Sat  Dinner     2
207       38.73  3.00  Male    Yes   Sat  Dinner     4
206       26.59  3.41  Male    Yes   Sat  Dinner     3
120       11.69  2.31  Male     No  Thur   Lunch     2
1         10.34  1.66  Male     No   Sun  Dinner     3
123       15.95  2.00  Male     No  Thur   Lunch     2

In [15]:
import pandas as pd


df = pd.read_csv('tips.csv')

def sum_values(row):
    return row['total_bill'] + row['tip'] + row['size']

df['total'] = df.apply(sum_values, axis=1)

print(df)

     total_bill   tip     sex smoker   day    time  size  total
0         16.99  1.01  Female     No   Sun  Dinner     2  20.00
1         10.34  1.66    Male     No   Sun  Dinner     3  15.00
2         21.01  3.50    Male     No   Sun  Dinner     3  27.51
3         23.68  3.31    Male     No   Sun  Dinner     2  28.99
4         24.59  3.61  Female     No   Sun  Dinner     4  32.20
..          ...   ...     ...    ...   ...     ...   ...    ...
239       29.03  5.92    Male     No   Sat  Dinner     3  37.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2  31.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2  26.67
242       17.82  1.75    Male     No   Sat  Dinner     2  21.57
243       18.78  3.00  Female     No  Thur  Dinner     2  23.78

[244 rows x 8 columns]

In [16]:
import pandas as pd


df = pd.read_csv('tips.csv')

def sum_values(row):
    return row['total_bill'] + row['tip'] + row['size']


df['total'] = df.apply(lambda row: sum_values(row), axis=1)


print(df)

     total_bill   tip     sex smoker   day    time  size  total
0         16.99  1.01  Female     No   Sun  Dinner     2  20.00
1         10.34  1.66    Male     No   Sun  Dinner     3  15.00
2         21.01  3.50    Male     No   Sun  Dinner     3  27.51
3         23.68  3.31    Male     No   Sun  Dinner     2  28.99
4         24.59  3.61  Female     No   Sun  Dinner     4  32.20
..          ...   ...     ...    ...   ...     ...   ...    ...
239       29.03  5.92    Male     No   Sat  Dinner     3  37.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2  31.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2  26.67
242       17.82  1.75    Male     No   Sat  Dinner     2  21.57
243       18.78  3.00  Female     No  Thur  Dinner     2  23.78

[244 rows x 8 columns]

In [17]:
import pandas as pd


df = pd.read_csv('tips.csv')


df_sorted = df.sort_values(by='total_bill')


print(df_sorted)

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [18]:
import pandas as pd


df = pd.read_csv('tips.csv')


df_sorted = df.sort_values(by='sex')


print(df_sorted)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
139       13.16  2.75  Female     No  Thur   Lunch     2
137       14.15  2.00  Female     No  Thur   Lunch     2
136       10.33  2.00  Female     No  Thur   Lunch     2
135        8.51  1.25  Female     No  Thur   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
43         9.68  1.32    Male     No   Sun  Dinner     2
42        13.94  3.06    Male     No   Sun  Dinner     2
41        17.46  2.54    Male     No   Sun  Dinner     2
39        31.27  5.00    Male     No   Sat  Dinner     3
156       48.17  5.00    Male     No   Sun  Dinner     6

[244 rows x 7 columns]

In [19]:
import pandas as pd

df = pd.read_csv('tips.csv')


cost_stats = df['total_bill'].agg(['mean', 'median', 'std', 'min', 'max'])


print(cost_stats)

mean      19.785943
median    17.795000
std        8.902412
min        3.070000
max       50.810000
Name: total_bill, dtype: float64

In [20]:
import pandas as pd


df = pd.read_csv('tips.csv')


precent_counts = df['size'].value_counts()


print(precent_counts)

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

In [21]:
import pandas as pd


df = pd.read_csv('tips.csv')


unique_precent = df['size'].unique()


print(unique_precent)

[2 3 4 1 6 5]

In [22]:
import pandas as pd


df = pd.read_csv('tips.csv')

print(df)


df = df.set_index('total_bill')


print(df)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]
             tip     sex smoker   day    time  size
total_bill
16.99       1.01  Female     No   Sun  Dinner     2
10.34       1.66    Male     No   Sun  Dinner     3
21.01       3.50    Male     No   Sun  Dinner     3
23.68       3.31    Male     No   Sun  Dinner     2
24.59       3.61  Female     No   Sun  Dinner     4
...          ...     ...    ...   ...     ...   ...
29.03       5.92    Male     No   Sat  Dinner     3
27.18       2.00  Female    Yes   Sat  Dinner     2
22.67       2.00    Male    Yes   Sat  Dinner     2
17.82       1.75    Male     No   Sat  Dinner     2
18.78       3.00  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

In [23]:
import pandas as pd
df2 = pd.read_csv('tips.csv')
df2['sex'] = df2['sex'].astype(str)
df2 = df2.loc[(df2['sex'] != "NaN") & (df2['sex'] != "nan")]
df2

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]